<div class="beats-background">
  <div class="barspace">
    <div class="container">
      <div class="jumbotron">
        <p>Hiho,</p>
        <p>Beats 'n Balls findet dieses Jahr am <strong>Samstag den 3. September</strong> im <strong>Grenzacher Schwimmbad</strong> statt. <br />Es wird insgesamt in kleinerem Rahmen abgehalten, da die Musik Abteilung unseres Inoffiziellen Organisationskomitee leider dieses Jahr keine Zeit hat.</p>
        <p>Das wichtigste aber, das Volleyball Turnier findet trotzdem statt.</p>
        <p>Und zwar nach folgenden Regeln:</p>
        <ul>
          <li>Gespielt wird 3 vs 3.</li>
          <li>Mannschaften mit Vereinsspieler od. equavilent guten Beachern m&uuml;ssen immer Mindestens eine Frau auf dem Feld haben.</li>
          <li>Wirkliche Fun/Hobby Spieler k&ouml;nnen auch mit 3 M&auml;nnern Spielen.</li>
        </ul>
        <p><strong>Start: 10:00 Uhr</strong></p>
        <p><strong>Anmeldung:</strong> Uber diesen <a routerLink="/registration" class="link">link.</a>&nbsp;</p>
        <p>&nbsp;(*Falls das nicht funktioniert, ich dann direkt &uuml;ber <a href="mailto:beatsnballs@mail.de">beatsnballs@mail.de</a>)</p>
        <p>Es gilt in allen Berreichen Selbstversorgung. Ein Grill ist vorhanden, ihr k&ouml;nnt also gerne W&uuml;rstchen und Fleisch mitbringen.</p>
        <p>Auch musikalisch&nbsp;d&uuml;rft gerne Musik in form von Smartphone oder MP3 Player herbeizaubern.</p>
        <p>Bei miserabelm Wetter (Regen, Sturm, Schnee) wird das Turnier nicht stattfinden. Die Mannchaftskapit&auml;ne werden am Abend vor Turnierbeginn per mail informiert.</p>
        <p>Ich hoffe auf ein cooles Turnier, und freue mich auf eure Anmeldungen.</p>
        <p>&nbsp;</p>
        <p>Greets Daniel</p>
        </div>
    </div>
  </div>
</div>
