<p>
  <h2>
    Hiho Team <%= name %>,
  </h2>
</p>

<p>
  Mit den Folgenden Links kannst du das Team offiziell
  registrieren oder abmelden. Es ist auch noch möglich sich
  abzumelden wenn die Mannschaft bereits Registriert ist.
</p>

<p>
<b>Link zur Registrierung:</b>
</p>
<p>
<a href= "<%= regURI %>">Mannschaft Registrieren!</a>
</p>
</br>
<p>
<b>Link zur Abmeldung:</b>
</p>

<p>
<a href=<%= delURI %>>Mannschaft Abmelden!</a>
</p>
</br>
</br>
<p>
  Bis Bald,
  </br>
  Greets Daniel
</p>