$bgDefault      : #f5f5f5;
$bgHighlight    : #037000;
$colDefault     : #0c5d56;
$colHighlight   : #40df0b;
$dropDown       : false;
$elementHeight: 40px;  //Has to be the same has max-height "img style="max-height:" in navbar.component.ts !
$navbarHeight:  85px;
$smallNavbarHeight: 20px;

.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    padding: (($navbarHeight - $elementHeight) / 2 - 2) 20px (($navbarHeight - $elementHeight) / 2 + 2);
    &:hover, &:focus {
      color: $colHighlight;
    }
  }
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        line-height: $navbarHeight;
        height: $navbarHeight;
        padding-top: 0;
        font-size: 17px;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            > .divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $colHighlight; }
    .icon-bar {
      background-color: $colDefault; }
  }
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colHighlight;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }
    }
  }
  .navbar-brand img {
    height:25px;
    position: relative;
    top: -7px;
  }

  .navbar-brand{
    padding: (($smallNavbarHeight - 30px) / 2 - 2) 20px (($smallNavbarHeight - 30px) / 2 + 2);
  }



}
