.navbar-custom {
  background-color:#eae7dc;
  color:#66b3ba;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color:#66b3ba;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
  color: #66b3ba;
  background-color:transparent;
}
.navbar-custom .navbar-brand {
  color:#66b3ba;
}

.navbar-custom .navbar-toggle {
  border-color: transparent; /* Removes border color */
  float: left; /* Move navbar toggle to left */
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #66b3ba; /* Changes regular toggle color */
}
.navbar-custom .navbar-toggle .icon-bar:hover {
  background-color: #66b3ba; /* Changes toggle color on hover */
}


