<nav class="navbar navbar-custom navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <colapse dropdown class="pull-right navbar-toggle" dropdown-open  data-toggle="collapse">
        <div >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
        <ul class="dropdown-menu collapsed">
            <li><a routerLink="/welcome" class="navbar-link">Info</a></li>
            <li><a routerLink="/teams" class="navbar-link">Teams</a></li>
            <li><a routerLink="/registration" class="navbar-link">Anmeldung</a></li>
            <li><a routerLink="/ranks" class="navbar-link">Resultate</a></li>
        </ul>
      </colapse>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <a class="navbar-brand" href="" ><img style="max-height: 30px; left: 150px;" src="/assets/images/only_ball.png"></a>
      <h3 class="navbar-text">Beats'n Balls</h3>
        <ul class="nav navbar-nav">
          <li><a routerLink="/welcome" class="navbar-link">Info</a></li>
          <li><a routerLink="/teams" class="navbar-link">Teams</a></li>
          <li><a routerLink="/registration" class="navbar-link">Anmeldung</a></li>
          <li><a routerLink="/ranks" class="navbar-link">Resultate</a></li>
        </ul>
      </div>
  </div>
</nav>



