.barspace {
    margin-top: 80px;
}
#accordion{
    width: 600px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#accordion h2{
    border-radius: 6px;
    font-size: 12pt;
    margin: 0px;
    padding: 10px;
    background: #eae7dc;
    border: 2px solid #66b3ba;
}
#accordion li div.content{
    display: none;
    padding: 10px;
    background: #f6efa6;
    border: 1px solid #42cafd;
}
#accordion li:hover div.content{
    border-radius: 6px;
    display: inherit;
}
h2 {
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
