.barspace {
  margin-top: 80px;
}
#accordion{
    width: 600px;
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#accordion h2{
    border-radius: 6px;
    font-size: 12pt;
    margin: 0px;
    padding: 10px;
    background: #42cafd;
    border: 1px solid #f6efa6;
}
#accordion li div.content{
    display: none;
    padding: 10px;
    background:#66b3ba;
    border: 1px solid #f6efa6;
}
#accordion li:hover div.content{
    border-radius: 6px;
    display: inherit;
}
